.features-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  color: white;
  margin-top: 60px;
}

.feature-item {
  text-align: center;
  width: 200px; 
  height: 200px; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border: 1px solid #fff; 
  
  padding: 10px; 
  border-color:#b7904d;
}

.feature-icon {
  font-size: 60px;
  margin-bottom: 10px;
  color: #b7904d;
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  color: black;
}

.feature-item p {
  font-size: 14px;
  color: gray;
}

@media (max-width: 600px) {
  .features-container {
    flex-direction: column; /* Stack items vertically */
    align-items: center; 
  }

  .feature-item {
    width: 90%; 
    height: auto; 
    margin-bottom: 20px; 
  }

  .feature-icon {
    font-size: 40px; 
  }

  h3 {
    font-size: 16px; 
  }

  .feature-item p {
    font-size: 12px; 
  }
}